/* This is the file, "fonts.css." */
@font-face {
   font-family: 'Playfair Display';
   src: url('https://montana-media-arts.github.io/341-web-design-Fall2020-resources/fonts/PlayfairDisplay-Regular.ttf') format('opentype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'Playfair Display';
   src: url('https://montana-media-arts.github.io/341-web-design-Fall2020-resources/fonts/PlayfairDisplay-Italic.ttf') format('opentype');
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: 'Playfair Display';
   src: url('https://montana-media-arts.github.io/341-web-design-Fall2020-resources/fonts/PlayfairDisplay-Bold.ttf') format('opentype');
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: 'Playfair Display';
   src: url('https://montana-media-arts.github.io/341-web-design-Fall2020-resources/fonts/PlayfairDisplay-BoldItalic.ttf') format('opentype');
   font-weight: bold;
   font-style: italic;
}
@font-face {
   font-family: 'Playfair Display';
   src: url('https://montana-media-arts.github.io/341-web-design-Fall2020-resources/fonts/PlayfairDisplay-Black.ttf') format('opentype');
   font-weight: 900;
   font-style: normal;
}
@font-face {
   font-family: 'Playfair Display';
   src: url('https://montana-media-arts.github.io/341-web-design-Fall2020-resources/fonts/PlayfairDisplay-BlackItalic.ttf') format('opentype');
   font-weight: 900;
   font-style: italic;
}
